<header class="mb-4">
    <div class="header-network">
        <div class="header-network-content">
            <a href="https://twitter.com/finaktiva?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://es-la.facebook.com/finaktiva/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://co.linkedin.com/company/finaktiva" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="header-network-content">
            <span>#FinaktivaTeam</span>
        </div>
    </div>
    <div class="header-menu">
        <div class="header-menu-content">
            <img src="./assets/images/finaktiva-logo.png" alt="finaktiva-logo" class="logo-finaktiva-completo">
            <div class="header-menu-route">
                <a [routerLink]="['/customer']" routerLinkActive="router-link-active">Clientes</a>
                <a [routerLink]="['/employee']" routerLinkActive="router-link-active">Empleados</a>
                <a [routerLink]="['/provider']" routerLinkActive="router-link-active">Proveedores</a>
                <button class="button-logout">Cerrar sesión</button>
            </div>
        </div>
    </div>
</header>